{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block content %}

<div class="d-flex flex-column gap-5 align-items-center justify-content-center">
  <h3>Login</h3>

    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label><br>
        <input class="form-control" type="text" name="username" required><br>
            
        <label>Password:</label><br>
        <input class="form-control" type="password" name="password" required><br>

        <input class="btn btn-primary" type="submit" value="Login">
    </form>


  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} 
  <p>Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a></p>
</div>

{% endblock content %}
