{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block content %}

<div class="d-flex flex-column gap-3 align-items-center justify-content-center">
  <h3>Login</h3>

    <form method="POST" action="" style="width: 30%; max-width: 50%;">
        {% csrf_token %}
        <label>Username:</label><br>
        <input class="form-control" type="text" name="username" required><br>
            
        <label>Password:</label><br>
        <input class="form-control" type="password" name="password" required><br>

        <div class="d-flex justify-content-between align-items-center">
          <p>Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a></p>
          <input
          class="btn btn-primary"
          type="submit"
          name="submit"
          value="Login"
          />
        </div>
    </form>


    {% if messages %}
    <ul>
      {% for message in messages %}
      <p class="p-3 border border-danger text-danger">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}
