{% extends 'base.html' %} {% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %} {% block content %}
{% load widget_tweaks %}

<div class="d-flex flex-column gap-5 align-items-center justify-content-center">
  <h3>Formulir Registrasi</h3>

  <form method="POST" style="width: 30%; max-width: 50%;">
    {% csrf_token %}
   
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field | add_class:"form-control"}}
            {{ field.errors }}
        </div>
        {% endfor %}
    
        <div class="d-flex justify-content-end mt-3">
          <input
          class="btn btn-primary"
          type="submit"
          name="submit"
          value="Daftar"
          />
        </div>

  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock content %}
