{% extends 'base.html' %}

{% block content %}
<table class="table">
  <tr">
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
  </tr>
  {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
  
  {% for barang in list_barang %}
  <tr>
    <td>{{barang.nama_barang}}</td>
    <td>{{barang.harga_barang}}</td>
    <td>{{barang.deskripsi}}</td>
  </tr>
  {% endfor %}
</table>

<p class="d-flex justify-content-end mx-3">Sesi terakhir login: {{ last_login }}</p>

{% endblock content %}
